<img src="/logo.png" alt="" style="width: 80px;"  >
<div class="cover">
  <img src="/cover.png" alt="" class="cover-login" >
  <br>
</div>

<div class="card">
  <center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true ,class: "input-red", placeholder: "Email Address"%>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" ,class: "input-red", placeholder: "Password"%>
  </div>

  <!-- <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%> -->

  <div class="actions">
    <%= f.submit "EAT", class: "size" %>
  </div>
  <br>
  <div style="margin-top: 20px"><%= render "devise/shared/links" %></div>
  

<% end %>
</center>
<br>
</div>
